%h1= @student.name
%p= @student.email
%p= "Remaining classes: #{@student.pass.remaining_classes}"
%p= "Pass expiry: #{@student.pass.expiry}"
%form{:action => "/pass", :method => "post"}
  %p 
    %strong Buy new pass:
  %fieldset
    =partial :pass_type
    %input{:type=>"hidden", :name=>"_method", :value=>"put"}
    %input{:type => "hidden", :name => "student_id", :value => @student.id}
  %input{:type => "submit", :value => "Send", :class => "button"}

%h2 Visit history:
-@student.visits.each do |v| 
  %p= v.created_at 
