%h1= @student.name
%p= "Remaining classes: #{@student.remaining_classes}"
%p= "Pass expiry: #{@student.pass_expiry}"
%form{:action => "/pass", :method => "post"}
  %fieldset
    =partial :pass_type
    %input{:type=>"hidden", :name=>"_method", :value=>"put"}
    %input{:type => "hidden", :name => "id", :value => @student.id}
  %input{:type => "submit", :value => "Send", :class => "button"}
